<html>
    <head>
        <title>In the Rainbow</title>
    </head>
    <body>
        <script type="text/javascript" class="annoyng-analytics">
            // Fooobar
            (function FooBar(){alert('8==D')}());
        </script>

        <header>
            <nav>
                <div>Navigation here</div>
                <ul>
                    <li><a href="link1.html">Foobar</a></li>
                    <li><a href="link2.html">BarFoo</a></li>
                    <li><img src="/rainbow.bmp"/></li>
                </ul>
            </nav>

            <h1>This is the page title</h1>

            <p>And this is a paragraph of text. Nothing <strong>expecial</strong> to say <a href="#">here</a>.</p>
            <p>Is there life on mars?</p>
        </header>

        <div>
            <aside>
                <h2>Possibilities</h2>
                <p>Choose your possibilities</p>
                <div>
                    <ul>
                        <li>Menu voice</li>
                        <li>Another menu voice</li>
                        <li>Last menu voice</li>
                    </ul>
                </div>
            </aside>

            <div>
                Other informations, general pourpose informations.
                Informations for everyone.
            </div>

            <form>
                <fieldset>
                    <legend>
                        Please compile inputs!
                    </legend>

                    <br>
                    <label>Your name: <input type="text" name="name"></label>
                    <br>
                    <label>Your surname: <input type="text" name="surname"></label>

                    <p>Fill this textarea please!</p>
                    <br>
                    <textarea title="A text area!" name="fill-this"></textarea>

                    <button type="submit">Send the FORM</button>
                </fieldset>
            </form>

            <div id="and now some content">
                <script  > /*Inline nothing*/ var vaporize = function(){alert('sbufff');}; vaporize();
                    //Bye, bye good bye
                </script  >
                <h2 class="porky-header">Other rich content here, this is an header 2</h2>

                <div>
                    <style type="text/css" id="that-style-tag">
                        /*Let me style this!*/
                        .porky-header {
                            color: pink;
                            font-size: 33px;
                            /* Comment this */
                            background-color: darkgoldenrod;
                        }
                    </style>
                    <p>We are the champion of the world. My friend!</p>
                    <p>But of course we will rock you? No pun is intended. Bye i'm quite pi**ed off to write this text.</p>

                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>The big thing pending somewhere</td>
                                <td>John Meenckea</td>
                                <td>This book talks about noting, and is intended for nothing!</td>
                                <!--
                                    763c-bd06-4464-8084: this is a versioned comment
                                    Of course we down't want comment to be parsed at all!
                                 -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <footer>
            <p>This is an annoy copyright here. Do you know???</p>
            <a href="no-privacy.html">Privacy invasion</a>
            <a href="leave-me-the-f*ck-alone.html">Leave me the f*ck alone!</a>
        </footer>


    </body>
</html>